extends layout

block content
  h1= title
  input(type='text', name='search-box', placeholder='search here...')
  p or
  select(name='songs', class='multi-select', mutiple='true')
    for song in songs
      option(value=song.value, selected=song.selected) #{song.innerhtml}
  <hr>
  input(type='button', name='play-btn', value='Play')
