extends layout

block content
  h1= title
  input(type='text', name='search-box', placeholder='search here...')
  p()
  <audio class="player js-player" controls>
    <source src="" type="audio/mp3">
  </audio>
  <hr>

  form(action='/store' method='post' name='offline-source' class='js-offline-source-form')
    input(type='text' name='folderPath' class='js-offline-source' placeholder='Folder Path')
    <br>
    input(type='submit' value='ADD')

  div(class='source-wrapper js-source-wrapper')
