doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/msfmultiselect/msfmultiselect.css')
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    block content
    script(src='/static/msfmultiselect/msfmultiselect.js')
    script(src='/static/javascripts/frondend.js')
